body {
    background-color: #548687;
    background-image: url(images/main-hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
     font-family:"Roboto", sans-serif;
    color: #fdfbd4;
    height: 100vh;
}
/*  logo */
.logo {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;
    }

    .arrow-up,
    .arrow-down {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .text-line {
        font-size: 32px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .text-line span {
        font-size: 32px;
    }
/* end of logo */
.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #473335;
    padding: 1rem 2rem;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 10;
}
.nav_links button {
    background-color: #473335;
    color:#FDFBD4;
    border: none;
    cursor: pointer;
}
.nav_links a {
    color: #FDFBD4;
    text-decoration: none;
    color:#FDFBD4;
    text-shadow: #000000;
}
.home_brush-icon {
    height: 15vh;
    width: 10vh;
    width: auto;
    cursor: pointer;
}
.global-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}
.link_content {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.link_content li a {
    text-decoration: none;
    color: #FDFBD4;
    font-size: 2.2rem;
    font-weight: 600;
}
.link_content li a:hover {
    opacity: 0.7;
}
.nav_links .link_content {
    display: none;
    background-color:#473335 ;
    box-shadow: 3px 3px 6px #473335 (0, 0%, 0%, 0.8);
} 
.nav_links:hover .link_content {
    display: inline-flex;
    z-index: 2;
}
*.link_content li {
    float:left;
    width:200px;
    opacity: .7;
    text-align: center;
}
 *.link_content li a {
    text-decoration: none;
    color: #FDFBD4;
    display: block;
}
 *.link_content li a:hover {
    background-color: #583e4165; 
}
.hero-banner_title{
    color: #FDFBD4;       
    border-style: groove;
    border-color: #444;
}
/*  contact layout */
.account-content {
    display: flex;
    justify-content: center;
    width: 45rem;
    margin: 4rem auto;
    /* padding: 2rem; */
    background-color: #FDFBD4;
    border-radius: 12px;
    box-shadow: 0px, 4px, 10px, rgba(0,0,0,0.4);
}
h1 {
    display: flex;
    border: 2rem solid #548687e4;
    background-color:#4733359d ;
    font-family:"Roboto", sans-serif;
    font-size: 4rem;
    justify-content: center;
    margin-bottom: 7rem;
}
.row,
.row_2,
.row_3 {
    margin-bottom: 1.4rem;
}
/* Now doing the labels */
form label {
    display: block;
    font-family:'Roboto', sans-serif; 
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    color: #548687;
}
/* the inputs */
.Input-text,
.Input-email,
.Input-comment {
    width: 100%;
    padding: 15px 8px;
    font-size: 1rem;
    border: 2px solid #473335;
    border-radius: 8px;
    background-color: #54868777;
    color: #473335;
    outline: none;
}
.row_3 button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #548687;
    border: 2px solid #473335;
    color: #FDFBD4;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 5px;
    transition: 0.2s ease;
}
.row_3 button[type="submit"]:hover {
    background-color: #54868729;
    /* transform: translateY(-2px);     */
}
/*  work on the Input BOX */
.Input-text,
.Input-email,
.Input-comment {
    color: #FDFBD4;
    width: 400px;
    padding-left: 10%;
    margin-right: 10%;
}
/* error or err messages */
.err-message {
    color: red;
    font-size: 1rem;
    margin-top: 0.3rem;
    display: block;
    height: 1rem;  
}
/* footer */
.socials{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30vh;

    background-color:#B0413E;
    height: 15vh;
}
.footer_logos {
    background-color: #548687;
}
.foot-icon {
    height: 7vh;
    margin-left: 1rem;
    margin-right: 1rem;
}
/*  responsivness  */       /*Mobile*/
@media screen and (min-width: 649px) and (max-width: 800px) {
    body {background-image: url(images/main-hero.jpeg);
    background-repeat: repeat(100% 100%);
    background-size: 5000px 4000px ;
    background-position: center; 
    background-position: absolute; 
     height: 10vh;
    /* background-position: sticky; */
  }
 .nav_links {
     contain: content;
     height: fit-content;
     width: fit-content;
    }
.global-nav {
    width: 900px;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95%;
    background-color:#B0413E;
    height: 15vh;
    max-height: 778px;
}
.footer_logos {
    justify-items: end;
    height: 5rem;
}
.foot-icon {
     margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10%;
    justify-items: end;
}
}



                   /* Tablet */
@media screen and (min-width: 641px) and (max-width:1024px){
body {
    max-height: 1004px;
}
.global-nav {
    width: 900px;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95%;
    background-color:#B0413E;
    height:5vh;
    max-height: 578px;
}
.footer_logos {
    justify-items: end;
    height: 2rem;
}
.foot-icon {
     margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10%;
    justify-items: end;
}
}



                    /* Desktop */
@media screen and (min-width: 1025px){

}