body {
    background-color: #548687;
}
.nav_links{
    font-family: "Roboto", sans-serif;
    font-size: 4vh; /* not sure if i should change this.*/
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin:0 15px;
    background-color: #473335;
    width: 100%;
    text-align: center;
    display: flex;
    /* position:absolute; */
    

}
ul{
    list-style:none;
}
ul a{

    text-decoration: none;
    color:#FDFBD4;
    text-shadow: #000000;
}

.hero-banner_title{
    color: #FDFBD4;
    border-style: groove;
    border-color: #444;
}
