body{
    background-color: #B0413E;
    font-family:"Roboto", sans-serif;
    color: #fdfbd4;
    height: 100vh;
}
/*  logo */
.logo {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;
    }

    .arrow-up,
    .arrow-down {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .text-line {
        font-size: 32px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .text-line span {
        font-size: 32px;
    }


/* end of logo */

.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #473335;
    padding: 1rem 2rem;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 10;
}
.nav_links button {
    background-color: #473335;
    color:#FDFBD4;
    border: none;
    cursor: pointer;
}
.nav_links a {
    color: #FDFBD4;
    text-decoration: none;
    color:#FDFBD4;
    text-shadow: #000000;
}
.home_brush-icon {
    height: 15vh;
    width: 10vh;
    width: auto;
    cursor: pointer;
}
.global-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}
.link_content {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.link_content li a {
    text-decoration: none;
    color: #FDFBD4;
    font-size: 2.2rem;
    font-weight: 600;
}
.link_content li a:hover {
    opacity: 0.7;
}
.nav_links .link_content {
    display: none;
    background-color:#473335 ;
    box-shadow: 3px 3px 6px #473335 (0, 0%, 0%, 0.8);
} 
.nav_links:hover .link_content {
    display: inline-flex;
    z-index: 2;
}
*.link_content li {
    float:left;
    width:200px;
    opacity: .7;
    text-align: center;
}
 *.link_content li a {
    text-decoration: none;
    color: #FDFBD4;
    display: block;
}
 *.link_content li a:hover {
    background-color: #583e4165; 
}


.hero-banner_title{
    color: #FDFBD4;       
    border-style: groove;
    border-color: #444;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap:5rem;
    padding: 2rem;
}

.product-card {
    background: #FDFBD4;
    border: 2rem solid #548687;
    border-radius: 12px;
    padding: 1rem;
    color: #473335;
    text-align: center;
    font-family:"Roboto", sans-serif;

}
.product-card h1 {
    font-size: 8rem;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
h1 {
    display: flex;
    font-family:"Roboto", sans-serif;
    font-size: 4rem;
    justify-content: center;
    /* align-items: center; */

}