/* font family when downloading. */
/* #FDFBD4- backgrouond color  */
 /* background-color: #FCAA67; */
    /* background-color: #B0413E; */
    /* background-color: #548687; */
    /* background-color: #473335; */
body{
    display: flexbox;
    background-color: #FDFBD4;
    font-family:"Roboto", sans-serif;
    color: #444;
    height: 100vh;
}
.nav_links{
    font-family: "Roboto", sans-serif;
    font-size: 4vh; /* not sure if i should change this.*/
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin:0 15px;
    background-color: #473335;
    width: 100%;
    text-align: center;

}
ul{
    list-style:none;
}
ul a{

    text-decoration: none;
    color:#FDFBD4;
    text-shadow: #000000;
}

.hero-banner_title{
    color: #FDFBD4;
    border-style: groove;
    border-color: #444;
}
.image-banner {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/main-hero.jpeg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


                /*Responsive Design*/

